<h1>Welcome to Chitter!</h1>
<a href="/users/new" >Sign Up</a>

  <div id="new-peep">

    <form action'/' method="post">
  <h3>Peep:</h3> <input type="text" name="peep" autocomplete="off"></br></br>  
        <input type="submit" value="Peep!">
    </form>

  </div>

<% @peeps.reverse.each do |list| %>
    <li><%= list.peep %></li>
  <% end %>