
<nav><% if current_user %>
    Welcome, <%= current_user.user_name %>
<% else %>

<ul>
	<li><a href="/users/new" >Sign Up</a></li>
  <% end %>
  <li><a href="#">Sign in</a></li>
  <form method="post" action="/users/new">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>

</ul>
</nav>


<section class="title">
<h1>Welcome to Chitter!</h1>
</section>




 <section id="new-peeps">


    <form action'/' method="post">
  <h3>Peep:</h3> <input type="text" name="peep" autocomplete="off"></br></br>  
        <input type="submit" value="Peep!">
    </form>

 

<% @peeps.reverse.each do |list| %>
    <li><%= list.peep %></li>
  <% end %>

  </section>
